{#templates/post_delete.html#}
{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Deleting Post</h1>
    <form action="" method="post"
        {% csrf_token %}
        <p>Are you sure to delete <b>{{ post.title }}</b> entry?</p>
        <p>
            <input type="submit" value="Confirm" class="btn btn-dark"/>
            <input type="button" value="Cancel" onclick="window.history.back()" class="btn btn-dark">
        </p>
    </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> to delete <b>{{ post.title }}</b> post</p>
    {% endif %}
{% endblock content %}