{#templates/post_edit.html#}

{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Edit Post</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" class="btn btn-dark"/>
            <input type="button" value="Cancel" onclick="window.history.back()" class="btn btn-dark">
        </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a> to edit this post</p>

    {% endif %}

{% endblock content %}
